input {
    redis {
        host => "10.40.20.169"
        type => "redis-input"
        # these settings should match the output of the agent
        data_type => "list"
        key => "logstash"
      }
}

filter {
  if [type] == "syslog" {
    mutate {
      replace => { "host" => "{{ inventory_hostname }}" }
    }
  }
}

output {
elasticsearch { 
  host => ["10.40.20.169:9200"]
  protocol => http
  }
  stdout {
    codec => rubydebug
  }
}
