input {
    redis {
        host => "redis.service.consul"
        type => "redis-input"
        # these settings should match the output of the agent
        data_type => "list"
        key => "logstash"
        # We use json_event here since the sender is a logstash agent
        message_format => "json_event"
      }
}

filter {
  if [type] == "syslog" {
    mutate {
      replace => { "host" => "{{ inventory_hostname }}" }
    }
  }
}

output {
elasticsearch { hosts => ["elasticsearch.service.consul:9200"] }
  stdout {
    codec => rubydebug
  }
}
