[Unit]
Description=logstash
After=docker.service
Requires=docker.service
Requires=dnsmasq.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm logstash-server
ExecStartPre=-/usr/bin/docker pull {{ logstash_image }}:{{ logstash_image_tag }}

ExecStart=/usr/bin/docker run \
    --rm \
    --name=logstash-server \
    --hostname={{ inventory_hostname }} \
    --privileged=true \
    --volume=/etc/logstash-server.d:/opt/logstash/conf.d \
    {{ logstash_image }}:{{ logstash_image_tag }}

ExecStop=/bin/bash -c " \
    /usr/bin/docker kill logstash-server && \
    /usr/bin/docker rm logstash-server"

[Install]
WantedBy=multi-user.target

