input {
  file {
    path => "/logs/mesos/*"
    type => mesos
  }
  file {
    path => "/logs/zookeeper/*"
    type => zookeeper
  }
  syslog {
    port => 1514
    type => syslog
  }
  udp {
    port => 25826
    type => collectd
    codec => collectd {
      typesdb => ["/collectd/types.db", "/collectd/plugins/dockerplugin.db"]
    }
  }
  udp {
    port => 8125
    type => statsd
  }
{% if logstash_input_log4j %}
  log4j {
    mode => "server"
    port => {{ logstash_log4j_port }}
    type => "log4j"
  }
{% endif %}
}

filter {
  if [type] == "syslog" {
    mutate {
      replace => { "hosts" => "{{ inventory_hostname }}" }
    }
  }
}

output {
redis {
        host => "10.40.20.169"
        # these settings should match the output of the agent
        data_type => "list"
        key => "logstash"
      }
}
